.form {
    display: flex;
    justify-content: center;
    margin: 80px 0;
}

.form form-cadastro {
    max-width: 80%;
    background-color: #F2F2F2;
    border-radius: 20px;
    padding: 36px 64px;
    box-shadow: 8px 8px 16px rgba(0,0,0,0.08);
}

h3{
    font-size: 32px;
}

button {
    background-color: #c9e265;
    border-radius: 10px;
    font-weight: 700;
    font-size: 18px;
    padding: 32px;
    border: none;
    cursor: pointer;
    color: white;
    margin: 16px 0;
}

button:hover {
    padding: 33px;
}